{% include top.html %}
<body>
<div id="luysec">
{% include header.html %}
<div class="merge-branch js-details-container">
	<div id="inner">
	<div class="inner">
		<div class="wrap">
			<div id="content-sidebar-wrap">
			<div id="content" class="pfeed">
			{% include hfeed.html %}</div>
			<div id="sidebar" class="sidebar widget-area">
			{% include sidebar.html %}</div>
			</div><!-- /content-sidebar-wrap -->
		</div><!-- /.wrap -->
	</div><!-- /inner -->
	</div>
</div>
{% include footers.html %}
</div>
{% include fb.html %}
</body>
